 @font-face { font-family: HomeRemedy; src: url('../fonts/HomeRem.ttf'); }

body {
  font-size: 18px ;
  font-family : "Proxima Nova Alt", Arial, sans-serif;
  font-weight: 400;
  text-align : center;
  color : white;

  background-color : #16DB70;
}
a{
  color : white;
  text-decoration : none;
}
a:hover{
  color : #DB6350;
  text-decoration : none;
}
h1{
  font: 4em HomeRemedy, Helvetica, Arial, sans-serif;
  background-color : #00C75B;
  margin : 0;
  padding : 15px;
}

#content{
  max-width : 1000px;
  margin : auto;
  padding : 50px;
}

#citation, #search-field{
  margin-top : 30px;
  margin-bottom : 30px;
}

#citation{
  font-style: italic;
}


/* Correction des couleurs de bootstrap pour notre theme*/
.btn-default{
  background-color : #00C75B;
  border-color : #00C75B;
  color : white;
}
.btn-default:hover{
  background-color : #DB6350;
  border-color : #DB6350;
  color : white;
}
.btn-default:active,.btn-default:focus{
  background-color : #953C2E;
}
.form-control:focus{
  border-color: #953C2E;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(149,60,46,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(149,60,46,.6);
}
