extends content

block content-body
  h1(id='sickness-name')= maladie
  div(id='container-data1')
    | chargement des données en cours
    br
    br

  div(class='headerDark row')
    h3 Augmentation du champ de recherche
    p Tolerance
      span(id="seuilToleranceTxt")  70
      | %
    input(id="toleranceSlider" type="range" min="0" max="100" value="70")
    br

  div(class="row")
    div(class="col-sm-6 half-page")
      h3 En savoir plus
      div(id='container-expended') chargement des données en cours
    div(class="col-sm-6 half-page")
      h3 Similarites
      div(id='container-similarities') chargement des données en cours

    script(src="/js/slider.js")
    script(src="/js/loader.js")
